* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #404040;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-25deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-25deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
}

.inner-container > * + * {
    margin-top: 1rem;
}

.canvas-container {
    max-width: 100%;
    font-size: 0;
}

.canvas-container > canvas {
    max-width: 100%;
}

.control-panel {
    width: 100%;
    height: 2rem;
    background-color: #505050;
    font-size: 0.8rem;
    line-height: 2rem;
    color: #dddddd;
    user-select: none;
}

.control-panel > * {
    display: inline-block;
    vertical-align: top;
}

.control-panel .control-text {
    width: 4rem;
    text-align: center;
}

.control-panel .control-btn {
    width: 2.4rem;
    height: 2rem;
    text-align: center;
    cursor: pointer;
}

.control-panel .control-btn:hover {
    background-color: #606060;
}

.icon-play {
    background: url("../image/play.svg") no-repeat center center / 1.3em;
}

.icon-pause {
    background: url("../image/pause.svg") no-repeat center center / 1.3em;
}

.icon-fullscreen {
    background: url("../image/fullscreen.svg") no-repeat center center / 1.3em;
}

.button-group {
    text-align: center;
    font-size: 1rem;
    user-select: none;
}

.button-group > * + * {
    margin-left: 1rem;
}

.info {
    color: #dddddd;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 1.6rem;
}

.info b {
    color: #eeeeee;
}

.select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 16rem;
    padding: 0.8rem 4rem 0.8rem 0.8rem;
    background: url(../image/whitevariation.svg) no-repeat right 0.8em center / 1.4em, rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(62, 175, 238, 0.16);
    cursor: pointer;
}

.select:hover {
    background: url(../image/whitevariation.svg) no-repeat right 0.8em center / 1.4em, rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1em 0 rgba(62, 175, 238, 0.4);
}

.select:focus {
    outline: none;
}

.select option {
    color: inherit;
    background-color: white;
}

.button {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 16rem;
    padding: 0.8rem 2rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(62, 175, 238, 0.16);
    cursor: pointer;
}

.button:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 1em 0 rgba(62, 175, 238, 0.4);
}
